
*.cmake
Parte2-audio/build/ALL_BUILD.vcxproj
Parte2-audio/build/ALL_BUILD.vcxproj.filters
Parte2-audio/build/CMakeCache.txt
Parte2-audio/build/CMakeFiles/27d53e92e4e6963070b6266e2884d859/generate.stamp.rule
Parte2-audio/build/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_C.bin
Parte2-audio/build/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_CXX.bin
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/CMakeCCompilerId.c
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.exe
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.vcxproj
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CMakeCCompilerId.obj
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.exe
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.vcxproj
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Parte2-audio/build/CMakeFiles/3.30.3/VCTargetsPath.txt
Parte2-audio/build/CMakeFiles/3.30.3/VCTargetsPath.vcxproj
Parte2-audio/build/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.recipe
Parte2-audio/build/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Parte2-audio/build/CMakeFiles/cmake.check_cache
Parte2-audio/build/CMakeFiles/CMakeConfigureLog.yaml
Parte2-audio/build/CMakeFiles/generate.stamp
Parte2-audio/build/CMakeFiles/generate.stamp.depend
Parte2-audio/build/CMakeFiles/generate.stamp.list
Parte2-audio/build/CMakeFiles/TargetDirectories.txt
Parte2-audio/build/Debug/hello_world.exe
Parte2-audio/build/Debug/hello_world.pdb
Parte2-audio/build/hello_world.dir/Debug/hello_world.exe.recipe
Parte2-audio/build/hello_world.dir/Debug/hello_world.ilk
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CL.command.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/Cl.items.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CL.read.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CL.write.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CustomBuild.command.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CustomBuild.read.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/CustomBuild.write.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/hello_world.lastbuildstate
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/link.command.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/link.read.1.tlog
Parte2-audio/build/hello_world.dir/Debug/hello_world.tlog/link.write.1.tlog
Parte2-audio/build/hello_world.dir/Debug/main.obj
Parte2-audio/build/hello_world.dir/Debug/vc143.pdb
Parte2-audio/build/hello_world.vcxproj
Parte2-audio/build/hello_world.vcxproj.filters
Parte2-audio/build/HelloWorld.sln
Parte2-audio/build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
Parte2-audio/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
Parte2-audio/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
Parte2-audio/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
Parte2-audio/build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
Parte2-audio/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
Parte2-audio/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Parte2-audio/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Parte2-audio/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Parte2-audio/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Parte2-audio/build/ZERO_CHECK.vcxproj
Parte2-audio/build/ZERO_CHECK.vcxproj.filters
Parte2-audio/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_C.bin
Parte2-audio/CMakeFiles/3.30.3/CMakeDetermineCompilerABI_CXX.bin
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/CMakeCCompilerId.c
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.exe
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/CompilerIdC.vcxproj
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CMakeCCompilerId.obj
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.exe
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/CompilerIdCXX.vcxproj
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Parte2-audio/CMakeFiles/3.30.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Parte2-audio/CMakeFiles/3.30.3/VCTargetsPath.txt
Parte2-audio/CMakeFiles/3.30.3/VCTargetsPath.vcxproj
Parte2-audio/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.recipe
Parte2-audio/CMakeFiles/3.30.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Parte2-audio/CMakeFiles/7c7d5d9a26a38ada43a0d1aa09bb8367/generate.stamp.rule
Parte2-audio/CMakeFiles/cmake.check_cache
Parte2-audio/CMakeFiles/CMakeConfigureLog.yaml
Parte2-audio/CMakeFiles/generate.stamp
Parte2-audio/CMakeFiles/generate.stamp.depend
Parte2-audio/CMakeFiles/generate.stamp.list
Parte2-audio/CMakeFiles/TargetDirectories.txt
